name: deploy to ec2

on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted


    steps: 
      - name: checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t cicd-web-app .

      - name: Stop old container
        run: |
          docker stop web || true
          docker rm web || true

      - name: Run new container
        run: docker run -d --name web -p 80:80 cicd-web-app
